@page "/"

<h1>Hello, world!</h1>

<hr />
<RazorClassLib2.Component1></RazorClassLib2.Component1>
<hr />
<RazorClassLib2.Component2 pageNumber=9 totalRecords=150 pageSize=20 linkUrl="/counter"></RazorClassLib2.Component2>
<hr />
<h2>Below is a MatBlazor demo:</h2>
<MatButton OnClick="@RunOnClick">Test</MatButton>
<hr />
<MatCard class="demo-mat-card">
    <MatCardContent>
        <MatCardMedia Wide="true" ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg">
            <div class="demo-mat-card-content" style="color: white;">
                <MatHeadline6 class="demo-mat-card-clean-margin">
                    Our Changing Planet
                </MatHeadline6>
                <MatSubtitle2 class="demo-mat-card-clean-margin">
                    by Kurt Wagner
                </MatSubtitle2>
            </div>
        </MatCardMedia>
        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            Visit ten places on our planet that are undergoing the biggest changes today.
        </MatBody2>
    </MatCardContent>
    <MatCardActions>
        <MatCardActionButtons>
            <MatButton>Read</MatButton>
            <MatButton>Bookmark</MatButton>
        </MatCardActionButtons>

        <MatCardActionIcons>
            <MatIconButton Icon="@MatIconNames.Favorite"></MatIconButton>
            <MatIconButton Icon="@MatIconNames.Dashboard"></MatIconButton>
        </MatCardActionIcons>
    </MatCardActions>
</MatCard>

@code {
    public void RunOnClick(MouseEventArgs e)
    {
        // JsRuntime.InvokeAsync<object>("window.alert", "Test"); // RL: this may need blazor webassembly
        Console.WriteLine("Server side message: button clicked!");
    }
}
