@page "/"

<h1>Hello, world!</h1>

<RLTestComponent></RLTestComponent>
<RazorClassLib2.Component1></RazorClassLib2.Component1>
<RazorClassLib2.Component2 pageNumber=9 totalRecords=150 pageSize=20 linkUrl="/counter"></RazorClassLib2.Component2>

Welcome to your new app.
