<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>test layout header in Pages/Shared</h1>
    @RenderBody()
</body>
</html>