@page
@model RazorClassLib1.MyFeature.Pages.Page1Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <h3>This is test page from Razor Class Library1 (RazorClassLib1). </h3>
</body>
</html>
