@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<div class="box-border h-32 w-64 p-4 border-4 ...">
  <button class="px-3 py-1 rounded-sm bg-yellow-600 hover:bg-red-600 text-white">Primary</button>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
