@page "/counter"
@inject ISomeService SomeService

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<hr />
<RazorClassLib2.Component1></RazorClassLib2.Component1>
<RazorClassLib2.Component2></RazorClassLib2.Component2>
<hr />

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        SomeService.DoSomething();  // will call server side code
        currentCount++;
    }
}
